.searchForm {
	display: grid;
	grid-template-columns: 0.5fr 0.3fr 0.2fr;
	padding: 1rem;
}
.formElement {
	label {
		padding: 1rem;
	}
}
.resetButton {
	margin-left: 1rem;
	background: none;
	border: none;
	color: inherit;
}
