.filter {
	label {
		display: block;
		font-weight: bold;
	}
}

.filter__pagination {
	margin-block: 0.5em;
}

.filter-status {
	margin-block: 1rem;
	border: 1px solid lightgray;
	padding: 1rem;
}

.movie-teasers {
	margin: 1rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.teaser {
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow-6);
	background: white;
	cursor: pointer;

	transition: scale 0.2s var(--ease-spring-1);
	&:hover,
	&:focus-within {
		scale: 1.05;
	}

	:where(.teaser__header) {
		padding: var(--space-xs);
	}

	:where(.teaser__poster) {
		margin-top: auto;
		> img {
			display: block;
			width: 100%;
		}

		> .teaser__poster__placeholder {
			background-color: grey;
			height: 360px;
			font-size: 5rem;
			text-align: center;
			padding-top: 120px;
		}
	}

	:where(.teaser__original-title) {
		display: block;
		margin-block-start: var(--space-xs);
	}

	:where(.teaser__title) {
		margin: 0;
		color: black;
	}

	:where(.teaser__date) {
		margin: 0 0.5rem 0.5rem;
	}
}
